<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="custom">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img class="img1" src="assets/img/dxc_logo_new.png"></ion-img>
          <div style="background-color: #82599f;padding: 6px;">
            <ion-list-header>firstName</ion-list-header>
            <ion-note>Local</ion-note>
          </div>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <mat-icon class="icon-menu" slot="start">{{p.icon}}</mat-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
