ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}
ion-menu.md ion-content {
  --padding-start: 8%;
  --padding-end: 8%;
  --padding-top: 8%;
  --padding-bottom: 20%;
}
ion-menu.md ion-list {
  padding: 4% 0;
}
ion-menu.md ion-note {
  margin-bottom: 3%;
  padding-left: 40%;
}
ion-menu.md ion-list#inbox-list {
  border-bottom: 1% solid var(--ion-color-step-150, #d7d8da);
}
ion-menu.md ion-list#inbox-list ion-list-header {
  min-height: 80%;
  margin-left: 10%;
  color: white;
}
ion-menu.md ion-item {
  --padding-start: 1%;
  --padding-end: 10%;
  border-radius: 4%;
}
ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}
ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
ion-menu.md ion-item ion-icon {
  color: #616e7e;
}
ion-menu.md ion-item ion-label {
  font-weight: 350;
  font-size: 13px;
  color: var(--ion-color-medium-shade);
  font-weight: bold;
}
ion-menu.ios ion-content {
  --padding-bottom: 20%;
}
ion-menu.ios ion-list {
  padding: 20% 0 0 0;
}
ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}
ion-menu.ios ion-item {
  --padding-start: 16%;
  --padding-end: 16%;
  --min-height: 50%;
}
ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
ion-menu.ios ion-item ion-icon {
  font-size: 24%;
  color: #73849a;
}
ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8%;
  color: white;
}
ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16%;
  padding-right: 16%;
  color: white;
}
ion-menu.ios ion-note {
  margin-bottom: 8%;
}
.custom {
  --width: 70%;
}
ion-note {
  display: inline-block;
  font-size: 16px;

  color: white;
}
.icon-menu {
  color: #82599f;
}
ion-item.selected {
  --color: var(--ion-color-primary);
}
.img1 {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10%;
}
